@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative|Cinzel|Quicksand|Josefin+Slab);

body, html
{
	width: 100%;
	height: 100%;
	margin: 0; 
	padding: 0;
}

main
{
	width: 100%;
	margin: 0 auto;
}


h2
{
	color: rgba(155, 155, 155, 1);
	/* color: rgb(5, 133, 178); */
	text-align: center;
	font-family: 'quicksand';
	padding: 20px;
	text-transform: uppercase;
}

p 
{
	font-family: 'quicksand';
}

span
{
	color: dodgerblue;
	font-weight: bold;
}

/* Navigation*/ 
.nav 
{
	width: 100%;
	padding-bottom: 5px;
	margin: 0 auto;
	text-align: center;
	position: fixed;
	top: 0px;
	z-index: 1;
	background-color: #272424;
	border-bottom: 2px solid white;
}

.nav ul
{
	padding: 0;
	margin: 0;
	
}

.nav_list
{
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 1em;
}

.nav_list li
{
	/* box-sizing: border-box; */
	display: inline-block;
	/* float: left; */
	width: 15%;
	text-align: center;
	padding: 20px;
}

.nav_list a 
{
	text-decoration: none;
	font-family: 'quicksand';
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
}

.nav #responsive-menu
{
	display: none;
	font-size: 2em;
	color: rgba(39, 36, 36, 1);
}

.nav_list a:hover
{
	color: dodgerblue;
	border-bottom: 3px solid #fff;
}

/* End Navigation*/ 



/* Header*/ 
.container
{
 	background-color: rgba(39, 36, 36, 1);
	padding-bottom: 100px;
	display: inline-block;
	width: 100%;
}

.image_holder
{
	width: 50%;
	margin: 0 auto;
}

.image_holder img
{
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	padding: 80px;
	margin-top: 100px;
	width: 400px;
	height: 400px;
}


.image_holder #name 
{
	text-align: center;
	font-size: 3em;
	color: #FFF;
	margin: 0 auto;
	font-family: 'quicksand';
}

.image_holder #tagline
{
	text-align: center;
	font-size: 2em;
	/* color: rgba(1, 41, 53, 0.64); */
	color: dodgerblue;
	margin: 0 auto;
}
/* End Header*/ 


/* Biography*/ 
.bio
{
	width: 100%;
}

.bio p 
{
	font-size: 1.1em;
	padding: 0px 50px;
 	text-align: left;
	line-height: 2em;
	width: 60%;
    margin: 0 auto;
}
/* End Bio*/ 


/* Projects*/ 
#lightbox
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(5, 5, 5, 0.85);
}

#lightbox p 
{
	text-align: right;
	color: #fff;
	margin: 100px 20px 0px 0px;
	font-size: 1em;
	font-family: 'Cinzel', serif;
}

#lightbox img 
{
    width: 400px;
    height: 300px;
    max-width:940px;
    margin: 250px auto 0px auto;
    border-radius: 3px;
    box-shadow: 5px 7px 4px #212121;
}

#content p 
{
    margin: 10px auto;
    width: 30%;
    font-size: 1.1em;
    font-family: quicksand;
    color: white;
    text-align: center;
}

#lightbox .fa 
{
	cursor: pointer;
	color: white;
	font-size: 2em;
	margin-top: 30%;
    width: 5%;
    display: block;

}

#lightbox .fa-times-circle-o
{

}

#lightbox .fa-chevron-right
{
	
    float: right;
    margin-right: 100px;
}

#lightbox .fa-chevron-left
{
    float: left;
    margin-left: 100px;
}

#lightbox .fa-times-cirlce-o
{
	margin-top: 100px;
    font-size: 2em;
    color: white;
    float: right;
    padding-right: 50px;
}

.col 
{
	display: flex;
	padding-bottom: 100px;
	background-color: rgba(33, 30, 30, 1);
	flex-wrap: wrap;
}

.col a 
{
	width: 500px;
	margin: 0 auto;
}

.col img
{
	margin: 0 auto;
	border: 2px solid white;
	margin-top: 80px;
	cursor: pointer;
}
/* End Projects*/ 


/* Resources*/ 

.resources 
{
	margin: 0 auto;
	width: 100%;
	/*width: 49%;*/
	display: inline-block;
}

.resources p 
{
	font-size: 1.1em;
	width: 55%;
	margin: 0 auto;
	line-height: 2em;
	/*padding: 50px;*/
}

/*#resources_wrapper 
{
	display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

#resume_file 
{
	width: 50%;
    text-align: center;
    background-color: dodgerblue;
    margin: 0 auto;
    display: inline-block;
}

#resume_file .fa-file-text 
{
	font-size: 10em;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center !important;
	color: #fff;
}*/

.resources .fa-file-text
{
  font-size: 10em;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center !important;
  color: dodgerblue;
}

.resources .fa-file-text:hover
{
	color: dimgrey;
}

.resources div
{
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
/* End Resources*/


/*Contact*/
.contact
{
	background-color: #272424;
	width: 100%;
	padding-bottom: 60px;
}

.contact div
{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
}

.contact .fa-comments
{
	font-size: 2em;
	color: dodgerblue;
	margin: 0px 30px;
}

.contact #contact-line
{
	font-size: 3em;
	color: #FFF;
	margin: 0 auto;
	text-shadow: 1px 1px #FFF;
}

.contact #email-text
{
	color: white;
	text-align: center;
	font-size: 2em;
}

.contact a 
{
	color: white;
}
.contact a:hover
{
	color: dodgerblue;
}

/* End Contact*/

/* Footer*/ 

footer
{
	background-color:dodgerblue;
	padding-bottom: 20px;
}

.social
{
	text-align: center;
}

.fa.fa-github-square, .fa.fa-trello, .fa.fa-codepen
{
	font-size: 2em;
	margin: 20px 50px 0px 50px;
	color: #fff;
}	

/*End Footer*/