@media screen and (min-width: 700px) and (max-width: 1000px)
{
	.image_holder
	{
		width: 100%;
	}
	
	/*.nav li, .nav_list
	{
		font-size: .9em;
		width: initial;
		border-top: 1px solid #fff;
		padding: 0px;
	}*/
	
	.nav_list
	{
		font-size: .9em;
		width: initial;
		border-top: 1px solid #fff;
		padding: 0px;
		display: block;
	}
	.nav li
	{
		font-size: .9em;
		width: initial;
		border-top: 1px solid #fff;
		padding: 0px;
		line-height: 45px;
		background-color: #272424;
		width: 100%;
		display:block;
	}

	.nav li:last-child
	{
		border-bottom: none;
	}
	
	 .nav
	{
		background-color: rgb(39, 36, 36);
		border-bottom: 2px solid white;
	}
	
	.nav_list a
	{
		color: #fff;
	}
	
	.nav #nav-text
	{
	  display: block;
	  float: left;
	  margin-top: 10px;
	  font-size: .9em;
	  text-decoration: none;
	  color: dodgerblue;
	  font-family: quicksand;
	  font-weight: initial;
	}
	
	.nav a#responsive-menu
	{
		display: inline-block;
		width: 100%;
		position: relative;
		margin: 20px;
	}
	
	.nav_list li:hover
	{
		width: initial;
	}
	
	.fa-bars
	{
		float: right;
		margin-top: 5px;
		margin-right: 45px;
		color: #fff;
		border: 1px solid rgba(155, 155, 155, 1);
		border-radius: 5px;
		padding: 7px;
	}
	
	.nav a#responsive-menu:after
	{
		content:""; 
		display: inline-block; 
	}

	}
	.bio p
	{
		font-size: 1.2em;
	}
	
	#lightbox .fa 
	{ 
		margin-top: 55%;
	}

	#lightbox .fa-chevron-right 
	{
		margin-right: 20px;
	}

	#lightbox .fa-chevron-left 
	{
		margin-left: 20px;
	}

	.resources p
	{
		width: 80%;
		font-size: 1.2em;
	}
	
	.contact #email-text 
	{
	  font-size: 1.3em;
	}

}