@media screen and (min-width: 700px) and (max-width: 950px)
{
	.image_holder
	{
		width: 100%;
	}
	
	.nav
	 {
		background-color: rgb(39, 36, 36);
		border-bottom: 1px solid white;
	 }
	 
	 .nav_list
	 {
		display: none;
	 }
	
	.nav #nav-text
	{
	  display: block;
	  float: left;
	  margin-top: 10px;
	  font-size: .9em;
	  text-decoration: none;
	  color: dodgerblue;
	  font-family: quicksand;
	  font-weight: initial;
	}
	
	.nav a#responsive-menu
	{
		display: inline-block;
		width: 100%;
		position: relative;
		margin: 20px;
	}
	
	.fa-bars
	{
		float: right;
		margin-top: 5px;
		margin-right: 45px;
		color: #fff;
		border: 1px solid rgba(155, 155, 155, 1);
		border-radius: 5px;
		padding: 7px;
	}
	
	.nav a#responsive-menu:after
	{
		content:""; 
		display: inline-block; 
	}
	.bio p
	{
		-webkit-column-count: initial;
		-moz-column-count: initial;
		column-count: initial;
		font-size: 1.2em;
	}
	
	.col img 
	{
		width: 45%;
	}

	.resources p
	{
		width: 80%;
		font-size: 1.2em;
	}
	
	.contact #email-text 
	{
	  font-size: 1.3em;
	}

}